# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/
.venv/

# IDE specific files
.idea/
.vscode/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/

# Pytest
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
*.env